.link {
  color: #0055cc !important;
  text-decoration: none;
}

.link-password:hover,
.link:hover {
  text-decoration: underline;
  color: #003399 !important;
}

.link-password {
  font-size: 0.88rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  justify-self: right;
  color: #0055cc !important;
  text-decoration: none;
}

@media (max-width: 767px) {
  .link-password {
    font-size: 0.75rem;
  }
}
