.right {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 8rem 0 8rem;
  gap: var(--gap);
  height: 100dvh;
  overflow-y: auto;
}

.right__logo {
  width: 114px;
  height: 48px;
}

.right__title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.right__subtitle {
  font-size: 0.88rem;
}

.right__login {
  text-align: center;
  font-size: 0.88rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 1500px) {
  .right {
    padding: 4rem 4rem 1rem 4rem;
  }

  .right__logo {
    width: 80px;
    height: 36px;
  }
}

@media (max-width: 1200px) {
  .right {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    overflow-y: visible;
    height: auto;
  }

  .right__logo-text {
    font-size: 0.88rem;
  }

  .right__title {
    font-size: 1.25rem;
  }

  .right__subtitle {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .right__login {
    font-size: 0.75rem;
  }
}
